{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>

	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    {block menu}
        <a n:href="Home:default">Home</a>
        {if $user->loggedIn}
            | <a n:href="Home:mySerials">My serials</a>
            | <a n:href="Home:serials">All serials</a>
            | <a n:href="Grabber:default">Add serial</a>
            | <a n:href="Sign:out">Sign out</a>
        {else}
            | <a n:href="Sign:in">Sign in</a>
            | <a n:href="Sign:up">Sign up</a>
        {/if}
    {/block}
	{include content}

	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/livephp.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    {block scripts}
	{/block}
    <script src="{$basePath}/js/main.js"></script>
</body>
</html>
