{block content}
    <form n:name=grabberForm class="form">
    <label n:name=url>URL: <input n:name=url size=60 value="http://www.topserialy.sk/serialy/agents-of-shield-s04e02"></label>
    <input n:name=grab class="btn btn-default">
</form>
<div id="results"></div>
{/block}
{block scripts}
    <script src="{$basePath}/js/grabber.js"></script>
{/block}
