body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}
#results div{
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding:10px 20px;
    margin:10px;
    background-color: rgba(101,101,101,.5);
}
#results div span{
    font-size: 16px;
    font-weight: normal;
}
#results div.error{
    color:#FFF;
    background-color:rgba(149,7,7,.5);
}
#results div.success{
    color:#FFF;
    background-color:rgba(28,125,4,.5);
}
