{block content}
    {snippet episodes}
    <div id="episodes">
        {foreach $episodes as $episode}
            <a n:href=":series $episode->serialId">{$episode->serialName}</a>:
            s{$episode->serieNum}e{$episode->epNumber} -
            <a n:href=":episode $episode->episodeId">{$episode->epName}</a>
            <a n:href="watched! $episode->episodeId, $episode->serialId" class="ajax">watched</a><br>
        {/foreach}
    </div>
    {/snippet}
{/block}
{block scripts}
    <script>$(function(){ $.nette.init()});</script>
{/block}
