{block content}
    <div id="epName"><a n:href=":series $sources[0]->serialId">{$sources[0]->serialName} s{$sources[0]->serieNum}e{$sources[0]->epNumber}</a> - {$sources[0]->epName}</div>
    {foreach $sources as $source}
        <div class="zdroj-{$iterator->count()}"><iframe src="{$source->url}" frameborder="0" marginwidth="0" marginheight="0" scrolling="NO" width="720" height="405"></iframe></div>
    {/foreach}
    {snippet watched}
        {if $sources[0]->watched!=''}
            <a href="#" class="unwatch" onclick="toggleWatch({$sources[0]->serialId},0)">Unwatch</a>
        {else}
            <a href="#" class="watch" onclick="toggleWatch({$sources[0]->serialId},1)">Watched</a>
        {/if}
    {/snippet}
{/block}
{block scripts}
    <script>
    function toggleWatch(id,watched){
        var url='';
        if(watched==1){ url='?do=watched'}
        else{ url='?do=unWatched'}
        $.nette.ajax({
            url: url,
            data: { serialId: id},
        });
    };

    $(function(){
        setTimeout(function(){
            toggleWatch({$sources[0]->serialId},1);
        },900000);
    });

    </script
{/block}
