{block content}
    {snippet serials}
    <ul>
        {foreach $serials as $serial}
            <li><a n:href=":series $serial->id">{$serial->serialName}</a> - <a n:href="Unfavor! $serial->id" class="ajax">Unfavor</a></li>
        {/foreach}
    </ul>
    {/snippet}
{/block}
{block scripts}
    <script>$(function(){ $.nette.init()});</script>
{/block}
