{block content}
    {foreach $series as $serie}
        <div class="serieWrapper serie-{$iterator->counter}">
            <div class="serieHeader">Serie {$iterator->key()}</div>
            <ul>
                {foreach $serie as $episode}
                    <li><a n:href=":Episode $episode->episodeId">{$episode->epNumber} {$episode->epName}</a></li>
                {/foreach}
            </ul>
        </div>
    {/foreach}
{/block}
