{block content}
    {snippet serials}
    <ul>
        {foreach $serials as $serial}
            <li><a n:href=":series $serial->id">{$serial->serialName}</a>
                {if $serial->user_id!=$user->id}
                    - <a n:href="Favor! $serial->id" class="ajax">Favor</a>
                {else}
                    - <a n:href="Unfavor! $serial->id" class="ajax">Unfavor</a>
                {/if}
            </li>
        {/foreach}
    </ul>
    {/snippet}
{/block}
{block scripts}
    <script>$(function(){ $.nette.init()});</script>
{/block}
